<!doctype html>
<html ng-app="RoomMaze">
<head>
	<script src="/lib/angular/angular.js"></script>
	<script src="/lib/angular-route/angular-route.js"></script>
	<script src="/dist/app.js"></script>
</head>
<body ng-controller="HomeCtrl">
	<a href="/#/room">Enter the Room Maze</a>
	<div ng-view>
	</div>
</body>
</html>